body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 78vh;
    display: flex;
    align-items: center;
    /* este es para que em centre el contenido  */
    justify-content: center;
    background-image: radial-gradient(circle 800px,#6437b7,#4d338a, #2b2a2c);
}
form{
    position: relative;
    background-color: #805bf3;
    padding: 200px 55px 85px 55px;
    box-shadow: 0 0 20px rgba(0,0,0,0.9);
    border-radius: 5px;
    text-align: center;
    width: 940px;
    height: 200px;
    margin-top: 50px;
    display: flex;
    align-content: center;
    justify-content:center;
    align-items: center;
    /* agrega espacio entre lso elementos */
    /* gap: 50px; */
}
.box{
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10PX  15px rgba(0,0,0,0.9);
    background-color: white;
    width: 45%;
    height: 100%;
    margin: 0 auto;
    border-radius: 10PX;
}
.box-2{
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 15PX rgb(0, 0, 0,0.9);
    width: 45%;
    height: 100%;
    /* margin-left: 55%; */
    background-color: white;
    margin: 0 auto;
    border-radius: 10PX;
}
form h2{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}
 
.box input,
.box-2 input {
    margin-top: auto; /* Mueve el input al final del div */
    padding: 20px;
    background-color: rgb(91,77,171,0.9);
    color: white;
    font-size: 20px;
    border: none ;
    border-radius: 10px;
    cursor: pointer;
}
.imagen img{
    width: 80%;
    
}
.imagen{
    position: fixed;
    width: 100px;
    margin-left: 20px ;
    margin-top: 40px;
}
.title{
   text-align: right;
   margin-right: 50px;
   margin-top: 4cqw;
   font-size: 20px;
}
h2{
    text-transform: uppercase;
    margin-top: 50px;
    color: white;
}

.box-2 input:hover{
    background: #4C3DA8;
}
.box input:hover{
    background: #4C3DA8;
}
