*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    justify-content: center;
    /* background-image: radial-gradient(circle 800px,#6437b7,#4d338a, #2b2a2c); */
}
.box_1{
    background: rgba(114,79,152,0.5);
    height: 200px;
    width: 350px;
    margin-top: 100px;
    position: absolute;
    transform: translatex(-300px);
    top:200px;
    border-radius: 5px;
    align-content: center;

}
.box_1 input:hover{
    background: rgba(76,61,168);
    color: white;
    border: 2px solid ;
}
.box_2 input:hover{
    background: rgba(76,61,168);
    color: white;
    border: 2px solid ;
}

.slider .box_1 img{
    position: absolute;
    margin-left: 10px;
    width: 40%;
    height: 50%;
    bottom: 50px;
    
}
.slider .box_2 img {
    position: absolute;
    margin-left: 10px;
    width: 30%;
    height: 50%;
    bottom: 50px;
}
.box_2{
    background: rgba(114,79,152,0.5);
    height: 200px;
    width: 350px;
    position: absolute;
    left: 800px;
    top:300px;
    
    transform: translatex(-300px);
    border-radius: 5px;
    align-content: center;
}
.slider h1{
    position: absolute;
    color: white;
    top:10%;
    left: 30%;
    z-index: 1;
    font-size: 50px;
    text-transform: uppercase; 
}
.slider h2{
    position: absolute;
    color: white;
    top:20%;
    left: 5%;
    z-index: 1;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase; 
}
.box_1 p{
    position: absolute;
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 100px;
    top: 0px;
}
.box_1 input{
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    margin-left: 110px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    left: 50px;
    top: 70px;
    color: black;
}

.box_2 p{
    position: absolute;
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 100px;
    top: 20px;
}
.box_2 input{
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    margin-left: 110px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: white;
    color: black;
    position: absolute;
    left: 50px;
    top: 70px;
    color: black;
}
.slider{
    width: auto;
    height: 630px;
    width: 50px auto 0;
    overflow: hidden;
    position: relative;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 30s infinite alternate ease-in-out;
}
.slider  li{
    width: 100%;
    list-style: none;
    position: relative;
}
.slider img{
    width: 100%;
    height:650px;
}

@keyframes slide  {

    0%{ margin-left: 0;}
    20%{ margin-left: 0;}

    25%{ margin-left: -150%;}
    45%{ margin-left: -150%;}

    50%{ margin-left: -300%;}
    70%{ margin-left: -300%;}
}

@media screen and (min-width:800px){
    
    .slider {
        position: absolute;
        height: 100%;
    }
    .box_1{
        left: 500px;  
    }
    .box_2{
        left: 1100px;  
    }
    .slider ul li img{
        width: 100%;
        height: 1000px;
    }

}
