body {
    font-family: Arial, sans-serif;
    background-image: radial-gradient(circle 800px,#6437b7,#4d338a, #2b2a2c);
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007bff;
    margin-bottom: 30px;
    text-align: center;
}

.btn-action {
    margin-right: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-action i {
    margin-right: 5px;
}

.btn-action:hover {
    transform: translateY(-3px);
}

.logout-btn {
    position:static;
    top: 20px;
    right: 10px;
}

.table-responsive {
    overflow-x: auto;
}

.table {
    width: 100%;
    background-color: #fff;
}

.table thead th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #d4edda;
}

.btn-action {
    margin-right: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-action i {
    margin-right: 5px;
}

.btn-action:hover {
    transform: translateY(-3px);
}
.header-titles{
    text-align: center;
    color: black;
    font-weight: lighter;
    margin-top: 20px;
}

.header-image {
    position: absolute;
    top: 10px; /* Mueve la imagen hacia arriba */
    right: 20px; /* Mueve la imagen hacia la derecha */
}

.header-image img {
    width: 100%; /* Haz que la imagen ocupe el 100% del ancho del contenedor */
    height: auto; /* Mantén la proporción original de la imagen */
    max-width: 200px; /* Establece un ancho máximo opcional */
}
