{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css"  href='{% static  "/styles/dashboard.css" %}'>
</head>
<body>
    <form action="" method="post">
        <h2>instituto nacional de meteorologia e hidrologia-inamhi 
            bienes por custodio </h2>
        <span class="line"></span>
            <div class="box" >
                <div class="title">
                    <p>SISTEMA DE INVENTARIO</p>           
                 </div>
                
                <div class="imagen">
                   
                    <img src='{% static  "/img/"inventario.png%}'alt="">      
                </div>
                <input type="submit" name="sistema" id="sistema">
            </div>
            <div class="box-2">
                <div class="title">
                    <p>SISTEMA DE TICKETS </p>
                
                </div>
                <div class="imagen">
                    <img src='{% static  "/img/"boleto.png%}'alt="">
                </div>
                <input type="submit" name="ticket" id="ticket">
            </div>
           
        
    </form>
</body>
</html>