<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de session</title>
    
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <p>Inicio de sesión requerido</p>
        <label for="usuario">Usuario:</label>
        <input type="text" name="username">
        <label for="pass">Contraseña:</label>
        <input type="password" name="password">
        <button type="submit">Iniciar sesión</button>
    </form>
</body>
</html>