{% load static %}
{% block content%}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login y Registro</title>
    <!-- <link rel="stylesheet" type="text/css" href="{% static '../registration/utilities/styles/style_login.css' %}"> -->
    <link rel="stylesheet" type="text/css" href='{% static  "/styles/style_login.css" %}'> 
</head>
<body>
  
 <!-- para controlar el proyecto  -->
<main>

    <div class="Contenedor_todo">
        <!-- //esta es la caja trasera del Login  -->
        <div class="caja_trasera">
            <div class="caja__trasera-login">
              <!-- <img src='{% static  "/img/icono-inamhi.png" %}' alt="">  -->
            </div>
             <!-- //esta es la caja trasera del registro  --> 
            <div class="caja__trasera-registro">
                 <h3>REGISTRARSE</h3> 
                 <p>Registrarse para que pueda Ingresar</p> 
                 <a href="{% url 'register' %}" > 
                    <button id="btn__registro">Registrarse</button> 
                </a> 
                 
            </div>
        </div>
            <!-- contenedor de los formularios -->
        <div class="contenedor__login-register">
            <!-- formulario de inicio de sesion  -->
            <form class="formulario__login" method="post">
                {% csrf_token %}
                <h2>INAMHI</h2>
                {{ form | crispy}} 
                <br>
                
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                </div>
                {% endif %}
                <button type="submit">Entrar</button>
            </form>
            <!-- sormulario del registro  -->
          
        </div>    
    </div> 
</main>
{% endblock%}
<!-- para vincular con el javascript -->
 <!-- <script src='{% static  "/logica/logica_uc.js" %}'></script>  -->
</body>
</html>



