<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../utilities/styles/style_login.css">
</head>
<body>
    <!-- este es apra que me controle el proyecto  -->
    <main>
        <div class="contenedor_all"> 
           
                <h1>INAMHI </h1>
                <form action="" class="Forlmulario">
                    <div class="usuario">
                            <input type="text" id="usuario" >
                            <label for="usuarioInput" class="usuarioLabel">Ingrese Usuario</label>
                    </div>
                    <div class="contrasena">
                        <input type="password" id="contrasenaInput">
                        <label for="contrasenaInput" class="contrasenaLabel">Ingrese Contraseña</label>
                    </div>
                    <div class="olvido"> ¿Olvidaste tu Contraseña?</div>

                <button class=" btn_entrar" id="btn_entrar"> Entrar </button>
                </form>
        </div>
    </main>
</body>
</html>