{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle De Bien</title>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href='{% static  "/styles/model_detail.css" %}'>
</head>
<body>
    <div class="container">
        <div class="card">
            <h1 class="card-title">Detalle de Bien</h1>
            <p><strong>Codigo Bien:</strong> {{ model.codigo_bien }}</p>
            <p><strong>Codigo Anterior:</strong> {{ model.codigo_anterior }}</p>
            <p><strong>Codigo Provisional:</strong> {{ model.codigo_provisional }}</p>
            <p><strong>Codigo Nuevo:</strong> {{ model.codigo_nuevo }}</p>
            <p><strong>Nombre Bien:</strong> {{ model.nombre_bien }}</p>
            <p><strong>Serie:</strong> {{ model.serie }}</p>
            <p><strong>Modelo:</strong> {{ model.modelo  }}</p>
            <p><strong>Marca:</strong> {{ model.marca }}</p>
            <p><strong>Color:</strong> {{ model.color  }}</p>
            <p><strong>Material:</strong> {{ model.material }}</p>
            <p><strong>Estado:</strong> {{ model.estado }}</p>
            <p><strong>Ubicacion:</strong> {{ model.ubicacion }}</p>
            <p><strong>Cedula:</strong> {{ model.cedula }}</p>
            <p><strong>Custodio Actual:</strong> {{ model.custodio_actual }}</p>
            <p><strong>Observacion:</strong> {{ model.observacion }}</p>
        </div>
    </div>
    <div class="container btn-container">
        <a href="{% url 'model_list' %}" class="btn btn-secondary btn-actions mr-2" onclick="saveScrollPosition()">Regresar</a>
        {% if perms.myapp.change_mymodel %}
        <a href="{% url 'model_update' pk=model.pk %}" class="btn btn-warning btn-actions mr-2">Actualizar</a>
        {% endif %}
        {% if perms.myapp.delete_mymodel %}
        <a href="{% url 'model_delete' pk=model.pk %}" class="btn btn-danger btn-actions">Eliminar</a>
        {% endif %}
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
