<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmacion</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Custom CSS for additional styling */
        body {
            padding: 20px;
        }
        .container {
            max-width: 600px;
        }
        .btn-actions {
            margin-top: 10px;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-4">Confirmacion de actualizar</h1>
        <p>Usted desea actualizar los datos"{{ model.name }}"?</p>
        <form action="{% url 'model_update' pk=model.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary btn-save" value="Acualizar">
            <a href="{% url 'model_list' %}" class="btn btn-secondary btn-actions">Cancel</a>
        </form>
    </div>
    <!-- Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
