<!-- model_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle De Inventario</title>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        
        body {
            padding: 20px;
        }
        .container {
            max-width: 600px;
        }
        .btn-actions {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <a href="{% url 'model_list' %}" class="btn btn-secondary btn-actions">Regresar</a>

        <h1 class="mt-5 mb-4">Detalle de Inventario</h1>
        <p><strong>Nombre:</strong> {{ model.name }}</p>
        <p><strong>Descripcion:</strong> {{ model.description }}</p>
        <a href="{% url 'model_update' pk=model.pk %}" class="btn btn-warning btn-actions">Acualizar</a>
        <a href="{% url 'model_delete' pk=model.pk %}" class="btn btn-danger btn-actions">Eliminar</a>
        
    </div>
   
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
